<body>
    <table border="1">
    <tr>
        <th>
            user
        </th>
        <th>
            observacion
        </th>
        <th>
            fecha
        </th>
        <th>
            tipo
        </th>
        <th>
            garantia
        </th>
        <th>
            proveedor
        </th>
        <th>
            uso
        </th>
        <th>
            puesto
        </th>
    </tr>
        {{#each data}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{email}}</td>
        </tr>
    {{/each}}
</table>
<a href="../page/noticias.html" class="button">Volver</a>
</body>