<body>
    <table border="1">
    <tr>
        <th>
            nombre
        </th>
        <th>
            email
        </th>
    </tr>
        {{#each data}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{email}}</td>
        </tr>
    {{/each}}
</table>
<a href="../page/noticias.html" class="button">Volver</a>
</body>
